@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@1.206/distr/fira_code.css);

* {
  /* font-family: "Courier New", Courier, monospace !important; */
  font-family: "Fira Code", Courier, monospace !important;
}

blockquote {
  font-style: normal;
}

.content a {
  color: hotpink;
  box-shadow: none;
}

.content a:hover {
  background-color: transparent;
  font-weight: bold;
  /* color: #c5ccda; */
}

.site-nav a:hover {
  color: hotpink;
}
